<!DOCTYPE html>
<html class="no-js">
  <head>
    <!-- Include meta tags -->
    {% include head.html %}
    <link href="/css/app.css" rel="stylesheet" media="all" />
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'PT+Serif:400,400italic,700,700italic:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>
      <script type="text/javascript" src="http://fast.fonts.net/jsapi/da308376-7bbe-4495-b74b-6073537a40fc.js"></script>
  </head>
  <body class="offcanvas--push">

    <!-- Header section -->
    {% include header.html %}

    <!-- Content block, child page inject content -->
    <main class="main subtle" id="main" role="main">
    {{ content }}
    </main>

    <!-- Footer section -->
    {% include footer.html %}

    <!-- JS Includes -->
    {% include foot.html %}
  </body>
</html>