// Floating

.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
.clear {
  clear:both;
}

// Text manipulation
.text-left   {
  text-align: left;
}
.text-right  {
  text-align: right;
}
.text-center {
  text-align: center;
}




