//BUTTONS

// A collection of button styles for buttons elements, button inputs, and button links.
//
// Start with a .button class and add modifiers classes to er, modify them.
//
// Example:
// <a href="#" class="button button--large">Large Button text</a>


// Default button styles
button,
input[type="submit"],
.button,
a.button {
  @include font-size(14,20);
  position:relative;
  display:inline-block;
  padding:rem(10 20);
  border:none;
  border-radius: $radius;
  outline:none;
  text-align:center;
  text-decoration: none;
  cursor:pointer;
  font-family: $sans;
  font-weight:$bold;
  text-transform:uppercase;
  

  &:link,
  &:visited {
    background:$blue;
    color:$white;
  }

  &:hover,
  &:active,
  &:focus {
    background:$dark-blue;
    color:$white;
  }
}