// HEADINGS
//
// Modular scales are your friend, my friend. Use them to set your heading sizes:
// http://modularscale.com  |  https://vimeo.com/17079380


h1,
.h1 {
  @include font-size(48,54);
  text-transform:uppercase;
  font-family: $sans;
  font-weight:$bold;

  // Use for header sub-elements
  span,
  small {
    font-size: 0.5em;
  }
}
h2,
.h2 {
  @include font-size(18,24);
  text-transform:uppercase;
  font-family: $sans;
  font-weight:$bold;
  color:$dark-blue;

  span,
  small {
    font-size: 0.5em;
  }

}
h3,
.h3 {
  @include font-size(18,24);
  text-transform:uppercase;
  font-family: $sans;
  font-weight:$bold;
  color:$dark-blue;


  span,
  small {
    font-size: 0.5em;
  }
}
h4,
.h4 {
  @include font-size(18,24);
  text-transform:uppercase;
  font-family: $sans;
  font-weight:$bold;
  color:$dark-blue;
}
h5,
.h5 {
  @include font-size(14,20);
  text-transform:uppercase;
  font-family: $sans;
  font-weight:$bold;
  color:$blue-grey;
}
h6,
.h6 {
  @include font-size(18,24);
  text-transform:uppercase;
  font-family: $sans;
  font-weight:$bold;
  color:$dark-blue;
}