---
layout: default
---
<section class="row dark-blue text-center">
  <h1>Stephen Harper</h1>
</section>
<section class="row subtle">
  <div class="callout third">
    <a href="">
      <figure><img src="/img/media/Harper_Cowboy1.jpg" alt="" /></figure>
      <div class="content white">
        <h4>Callout title</h4>
        <p>Some callout text.</p>
      </div>
    </a>
  </div>
  <div class="callout third">
    <figure><img src="/img/media/sh-beer.jpg" alt="" /></figure>
    <div class="content white">
      <h4>Callout title</h4>
      <p>Some callout text.</p>
    </div>
  </div>
  <div class="callout third">
    <figure><img src="/img/media/stephen_harper-1.jpg" alt="" /></figure>
    <div class="content white">
      <h4>Callout title</h4>
      <p>Some callout text.</p>
    </div>
  </div>
  <div class="callout third">
    <figure><img src="" alt="" /></figure>
    <div class="content white">
      <h4>Callout title</h4>
      <p>Some callout text.</p>
    </div>
  </div>
  <div class="callout third">
    <figure><img src="" alt="" /></figure>
    <div class="content white">
      <h4>Callout title</h4>
      <p>Some callout text.</p>
    </div>
  </div>
  <div class="callout third">
    <figure><img src="" alt="" /></figure>
    <div class="content white">
      <h4>Callout title</h4>
      <p>Some callout text.</p>
    </div>
  </div>
</section>
<section class="row grey">

</section>