<header class="row row--tight reverse">
  <h1><a href="/example/" class="logo">{{ global.title }}</a></h1>
  <nav class="horizontal-nav">
    <ul>
      <li><a href="/example/">Home</a></li>
      <li><a href="/example/news/">News</a></li>
      <li><a href="/example/about/">About</a></li>
      <li><a href="/example/contact/">Contact</a></li>
    </ul>
  </nav>
</header>