<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="initial-scale=1.0">

  <!-- Title block allowing child pages to override -->
<title>{{ page.title }} {{ site.title }}</title>

<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<link rel="canonical" href="">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />

  <!-- Fontawesome icons. Remove if not using -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<meta name="description" content="">

<!-- global Open Graph tags -->
<meta property="og:title" content="" />
<meta property="og:type" content="website" />
<meta property="og:image" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />

<!-- Twitter social tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="" />
<meta name="twitter:site" content="">
