<header class="header blue" id="header">
  <div class="logo"><a href="/"><img src="/img/cpc-logo-tmb.png" alt="Conservative Logo" width="32" height="30" /></a></div>
  <nav class="horizontal-nav horizontal-nav--guide collapse primary-nav">
    <p class="trigger"><a href="#primary" class="js-reveal">Menu</a></p>
    <ul id="primary" class="primary">
      <li class="primary__usage"><a href="/guide/">Usage</a></li>
      <li class="primary__brand"><a href="/guide/identity/">Identity</a></li>
      <li class="primary__grid"><a href="/guide/layout/">Layout</a></li>
      <li class="primary__elements"><a href="/guide/elements/">Elements</a></li>
      <li class="primary__components"><a href="/guide/components/">Components</a></li>
      <li class="primary__modules"><a href="/guide/modules/">Modules</a></li>
      <li class="primary__templates"><a href="/guide/templates/">Templates</a></li>
    </ul>
  </nav>
</header>