<header class="header blue">
  <div class="logo"><a href="/"><img src="/img/cpc-logo-tmb.png" alt="Conservative Logo" width="32" height="30" /></a></div>
  <nav class="horizontal-nav horizontal-nav--guide collapse primary-nav">
    <ul id="primary" class="pull-left primary">
      <li class="primary__usage"><a href="/guide/">Guide</a></li>
    </ul>
  </nav>
  <nav class="utility-nav">
    <a href="/guide/" class="button button--red">Donate</a>
  </nav>
</header>