// UI KIT STYLES
//
// The is the style of the UI Kit/Style Guide/Brand guide/etc itself.

// Base foundational settings & tools
@import "1_settings/includes--base";

//==============================================================================
// UI Guide Settings - Customize this area.
//==============================================================================

// Fonts
// Add more here and in the Brand template if you need.
.primary * {
  font-family: $serif;
}
.secondary * {
  font-family: $sans;
}

// Colors
// Add more here and in the Color liquid template if you need.
.color1 { background: $background; }
.color2 { background: $dark-background; }
.color3 { background: $light-text; }
.color4 { background: $mid-text; }
.color5 { background: $text; color:$dark-background;}
.color6 { background: $red; }
.color7 { background: $blue; }

//==============================================================================
// End UI Guide settings. Remember to update the Brand page in the Guide.
//==============================================================================




//==============================================================================
// UI Guide Styles
//==============================================================================
// Change this if you want to customize the look, feel, or stucture of the Guide



// Layout sections
//==============================================================================
.horizontal-nav--guide {
  padding-top: 0;
  ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s linear;

    &.opened {
      max-height: 2000px;
    }
  }
}

// current states in primary nav.
.pg-identity .primary__brand,
.pg-usage .primary__usage,
.pg-layout .primary__grid,
.pg-elements .primary__elements,
.pg-modules .primary__modules,
.pg-components .primary__components,
.pg-templates .primary__templates {
  a {
    color:$background;
    cursor: default;
  }
}

.main .horizontal-nav--guide {
  margin:rem($line) 0;
}

// limit paragraph widths in the guide.
p,
dd {
  max-width: 48em;
}
figure p,
.colors p {
  max-width: none; //Except for captions and color blocks.
}
.more {
  clear:both;
}

// Brand Section
//==============================================================================
.type-sample {
  p {
    @include font-size(24, 36);
    margin-bottom: rem($line*1.5);
    letter-spacing: 0.1em;
  }
}

//Colour swatches
.colors {
  background:#fff;
}
.swatch {
    position: relative;
    display: block;
    height:rem($line*5);
    text-align: center;
    font-family: $sans;

  p {
    @extend %vertical-align;
  }
}

// Icon listing
.iconset {
  ul {
    list-style: none;
  }
}


// Grid section
//==============================================================================
.grids {
  .container {
    hr {
      clear:both;
    }
  }
  .folding {
    margin-bottom: $line;
    height: rem($line*10);
    float:left;
    @include gutter;

    span {
      display: block;
      width:100%;
      height: rem($line*10);
      background:$text;
    }
  }
  h2 {
    clear:both;
  }
}

.grid {
  @extend %group;
  &.grid--3-6-12 {
    .three {
      width:$c3;
      display: block !important;
    }
    .six,
    .twelve {
      display: none;
    }
  }
  &.grid--2-4-8 {
    .two {
      width:$c4*2;
      display: block !important;
    }
    .four,
    .eight {
      display: none;
    }
  }
  &.grid--3-5-7 {
    .three {
      width:$c3;
      display: block !important;
    }
    .five,
    .seven {
      display: none;
    }
  }
  &.grid--4-8-16 {
    .four {
      width:$c4;
      display: block !important;
    }
    .eight,
    .sixteen {
      display: none;
    }
  }
}

.combined-grid {
  @extend %group;
  overflow: hidden;
  position:relative;
  width:100%;
  height:rem($line*10);
  padding:0;

  .grid {
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:100%;
    opacity:0.3;
    padding:0 !important;
  }
}

// Modular scale
.scale {
  max-width: 30em;

  td {
    padding:0;
  }
}
.key {
  font-weight: $bold;
}

@media only screen and (min-width: $screenSmall) {
  .horizontal-nav {
    .trigger {
      display: none;
    }
    ul {
      max-height: none;
    }
  }
  .paragraphs {
    width:$c4*3;
  }
  .type-sample {
    p {
      @include font-size(16, 24);
    }
  }
  .iconset {
    @include gutter;
    width:$c8*4;
    float:left;
  }
  .secondary-nav {
    @include gutter;
    float:left;
    width:$c5;
  }
  .primary-content {
    width:$c5*4;
  }
  .grid {
    padding:0 !important;

    &.grid--2-4-8 {
      .four {
        width:$c4;
        display: block !important;
      }
      .eight {
        display: none;
      }
    }
    &.grid--3-5-7 {
      .five {
        width:$c5;
        display: block !important;
      }
      .seven {
        display: none;
      }
    }
    &.grid--3-6-12 {
      .six {
        width:$c6;
        display: block !important;
      }
      .twelve {
        display: none;
      }
    }
    &.grid--4-8-16 {
      .eight {
        width:$c8;
        display: block !important;
      }
      .sixteen {
        display: none;
      }
    }
  }
  .callouts {
    .callout {
      @include gutter;
      float:left;
      width:$c4*2;

      &:nth-child(odd) {
        clear:both;
      }
    }
  }
}

@media only screen and (min-width: $screenMedium) {
  .split-content {
    width:$c4*2;
    float:left;
  }
  .primary-content {
    margin-left: 0;
  }
}
@media only screen and (min-width: $screenLarge) {
  .type-sample {
    p {
      @include font-size(24, 36);
    }
  }
  .paragraphs {
    width:$c4*2;
  }
  .iconset {
    width:$c6*2;
  }
}

@media only screen and (min-width: $screenXlarge) {

  .grid {
    &.grid--2-4-8 {
      .eight {
        width:$c8;
        display: block !important;
      }
    }
    &.grid--3-5-7 {
      .seven {
        width:$c7;
        display: block !important;
      }
    }
    &.grid--3-6-12 {
      .twelve {
        width:$c12;
        display: block !important;
      }
    }
    &.grid--4-8-16 {
      .sixteen {
        width:$c16;
        display: block !important;
      }
    }
  }
  .callouts {
    .callout {
      width:$c4;

      &:nth-child(odd) {
        clear:none;
      }
    }
  }
}