//* =============================================================================
//   Default Colours
//   ========================================================================== */

$white:#FFF;
$light-grey:rgb(234,234,234);
$blue-grey:rgb(111,131,151);
$grey: rgb(132,132,132);
$mid-grey: rgb(51,51,51);
$dark-grey: rgb(41,41,41);

$red: rgb(236,28,36);
$dark-red: rgb(204,0,0);

$light-blue:rgb(12,106,170);
$blue: rgb(26,71,130);
$mid-blue: rgb(18,88,150);
$dark-blue:rgb(13,59,120);


$background: $white;
$dark-background: $light-grey;
$light-text: $grey;
$mid-text: $mid-grey;
$text: $dark-grey;

$accent: $red; //Primary accent color