// HEADER
.header {
  overflow:hidden;
}
.logo {
  float:left;
  width:72px;

  a {
    display:block;
    background:$mid-blue;
    padding:rem(18 22 3 22);    
  }
}
.primary-nav {
  float:left;
  clear:none;

  li {
    margin-left:rem(3);
    text-align:center;
  }

  .primary a {
    @include font-size(15,20);
    padding:rem(23 20);
    text-transform:uppercase;
    font-weight:$bold;
    display:block;
  
    &:link,
    &:visited {
      background:transparent;
      color:$white;
    }
    &:hover,
    &:active,
    &:focus {
      background:$mid-blue;
      color:$white;
    }
  }
}
.utility-nav {
  float:right;
  text-align:right;
  padding:rem(12 40 0 40);

  a {
    float:right;
  }
}